body {
    background: rgb(68, 41, 110);
  }
  
  main {
    padding: 20px 0px 0px 0px;
    text-align: center;
  
  }
  
  #delet {
    height: 30px;
    width: 60px;
    background: rgb(88, 88, 88);
    color: white;
    font-size: 20px;
    margin-left: 10px;
  }
  
  input {
    width: 400px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
  
  }
  
  .chisla button {
    width: 70px;
    height: 60px;
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 30px;
    font-size: 25px;
    border-color: none;
    color: white;
    background: rgb(88, 88, 88);
  
  }
  
  .chtoto button {
    color: white;
    margin-right: 9px;
    width: 60px;
    height: 55px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 35px;
    border-color: rgb(0, 0, 0);
    background: rgb(179, 177, 177);
  
  
  }
  
  .glav {
    margin-left: 787px;
    background-color: rgb(0, 0, 0);
    width: 500px;
    height: 600px;
    text-align: center;
  }
  
  
  
  #znak {
    background-color: rgba(255, 166, 0, 0.884);
    color: white;
    font-size: 27px;
  }
  
  #func{
    width: 60px;
    height: 55px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 35px;
    border-color: rgb(0, 0, 0);
    background: rgb(179, 177, 177);
  }
